*{
    /* background-color: palegoldenrod */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banner-box {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}
.img-banner{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.banner-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
      transform: translate(-50%, -50%);
    padding: 30px;
    justify-content: center;
    color: rgba(140, 79, 36, 0.77);
    background-color: rgb(238, 232, 170, 0.6);
}
.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 16px;
}
.btn-01{
background-color: rgba(140, 79, 36, 0.9);
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: rgb(222, 184, 135);
  cursor: pointer;
  font-size: 16px;
}
.btn-01:hover {
    background-color: rgba(140, 79, 36);
    box-shadow: 2px solid rgb(221, 232, 170, 0.5);
    color: white;
}