.whyChooses {
  max-width: 1200px;
  margin: 0 auto 55px auto;
  padding: 1rem 1.5rem;
  text-align: center;
  background: white;
  font-family: Arial, sans-serif;
}

.whyTitle {
  font-size: 30px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 10px;
}

.whySubTitle {
  font-size: 18px;
  color: #030304;
  margin-bottom: 50px;
}

.whyZogiraas {
  margin: auto;
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
}

.whyZogiraa {
max-width: 300px !important;
max-height: 320px;
background: white;
/* padding: 30px 30px; */
display: flex;
flex-direction: column;
align-content: center;
border-radius: 16px;
margin-top: 40px;
justify-content: center !important;
border-radius: 16px;
text-align: left;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whyCard:hover {
  transform: scale(1.03);
    box-shadow:
    0px 10px 5px 0px rgba(0, 0, 0, 0.10),
    0px 10px 20px 0px rgba(0, 0, 0, 0.10);
}

.whyIcon {
  /* width: 112px;
  height: 112px; */
  display: flex;
  text-align: center;
  justify-content: center !important;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  margin: 10px  auto !important;
  margin-bottom: 18px;
}
.iconImgs{
    max-width: 112px;
    max-height: 112px;
     border-radius: 60%;
    margin: 30px  auto !important;
    padding-bottom: 20px;
    
}
/* .blue {
  background: #dbeafe;
  color: #2563EB;
}

.orange {
  background: #ffedd5;
  color: #F97316;
}

.green {
  background: #dcfce7;
  color: #16A34A;
}

.purple {
  background: #ede9fe;
  color: #9333EA;

} */

.cardTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #111827;
  margin-bottom: 10px;
}

.cardDesc {
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color:#4B5563;
}
@media (max-width: 992px) {
  .whyZogiraas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .whyZogiraas {
    grid-template-columns: 1fr;
  }


  .whyTitle {
    font-size: 32px;
  }}
