.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background: white;
}

.logo {
  color: #2563eb;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  background: #eff6ff;
}

.hero-left {
  max-width: 50%;
}

.hero-left h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.primary-btn {
  padding: 12px 24px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
}

.hero-right img {
  width: 450px;
  border-radius: 15px;
}

.about-section {
  padding: 60px;
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px;
}

.feature-card {
  background: #f3f4f6;
  padding: 30px;
  border-radius: 12px;
  width: 250px;
}
