:root {
  --primary-blue: #3b71ca;
  --accent-yellow: #ffc107;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: white;
}

.hero-section {
  background-color: var(--primary-blue);
  color: white;
  padding: 60px 10% 80px 10%;
  height: 370px;
}

.hero-content {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text .highlight {
  color: var(--accent-yellow);
}

.hero-text p {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 30px;
  max-width: 500px;
}

.cta-button {
  background-color: var(--accent-yellow);
  border: none;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
}

.cta-button:hover {
  transform: translateY(-2px);
}

.rounded-img {
  width: 100%;
  height: 271px;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 900px) {
  .hero-section {
    height: 700px;
  }
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text p {
    margin: 0 auto 30px auto;
  }

  .rounded-img {
    width: 100%;
    height: 271px;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 700px) {
  .hero-section {
    height: 700px;
  }
}


@media (max-width: 600px) {
  .hero-section {
    height: 800px;
  }
}
